@page
@model Coolbooks.Pages.Statistics.IndexModel
@{
}
<form method="POST" asp-page-handler="DateSelect">

<input type="date" id="startDate" name="sd"
       value="@Model.DateToString(Model.startDate)" />

<input type="date" id="endDate" name="ed"
       value="@Model.DateToString(Model.endDate)" />
       <input type="submit" />
</form>
<br />

@*

@foreach ( var c in Model.Comments)
{
    <text>@c.Text @c.Created</text>
    <br />
}
*@
<div>
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: 
        [
    @foreach ( var d in Model.dates)
    {
        <text>@d.Day,</text>
    }
            ],
        datasets: 
        [{
          label: '# of Comments',
          data: [
    @foreach (var c in Model.commentCount)
    {
        <text>@c,</text>
    }
    ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
</script>
