@page
@model HomeModel



<h1>Random Books for inspiration</h1>
<br />
<div class="home-main-container">

	

	<div class="home-hero-container">

		hej
	</div>
	<br />

	<div class="home-bookcard-container">
		@foreach (var book in Model.Books.OrderByDescending(b => b.Created).Take(4))
		{
			<div class="home-bookcard">
				<img src="@book.Imagepath" height="267" width="157" />
				<div class="overlay">@book.Title @book.Author</div>
			</div>
		}
	</div>
	<br />
	<div class="home-bookcard-container">
		@foreach (var book in Model.Books.OrderByDescending(b => b.Created).Skip(4).Take(4))
		{
			<div class="home-bookcard">
				<img src="@book.Imagepath" height="267" width="157" />
				<div class="overlay">@book.Title @book.Author</div>
			</div>
		}
	</div>>
</div>
