@page
@model Coolbooks.Pages.Reviews.IndexModel
@{
}

<tbody>
	@*
	<a href="reviews/write?id=1">Review book 1</a>
	<a href="reviews/read?id=1">Read review 1</a>
	*@
	<div>Want to write your own?</div>
	<form action="/Reviews/Write">
		@* TODO a search would be preferred here *@
		<select name="id" asp-items="Model.Options"></select>
		<button type="submit">Go >>></button>
	</form>
	<br />
	<h3>Latest reviews</h3>
	<table class="table table-bordered table-striped">
		<tr>
			<th>Review Title</th>
			<th>Book</th>
			<th>User</th>
			<th>Date</th>
		</tr>
		@foreach (var review in Model.Reviews)
		{
			<tr>
				<td><a asp-route-id="@review.ReviewId" asp-page="/Reviews/Read">@review.Title</a></td>
				<td><a asp-route-id="@review.BookId" asp-page="/Books/BookPage">@review.Book.Title</a></td>
				<td>@review.User.Userinfo.Firstname @review.User.Userinfo.Lastname</td>
				<td>@review.Created</td>
			</tr>
			<br />
		}
	</table>
</tbody>


