@page
@model Coolbooks.Pages.Reviews.ReadModel
@{
}
@* TODO id check*@

@* Flag ticket? User, date, reason?*@

@if (Model.Review.Status == "Flagged")
{
	<p>This review has been flagged</p>
}
else
{
<form asp-page-handler="Flag" method="POST">
	<button type="submit">Flag this review</button>
	<input type="hidden" name="id" value="1" />
</form>
}
<h1>@Model.Review.Title</h1>
<a asp-route-id="@Model.Review.BookId" asp-page="/Books/BookPage">@Model.Review.Book.Title</a>

 by @Model.AuthorFullName
<br @for (int i = 0; i <= Model.Review.Rating; i++)
{
	 <i class="bi bi-star-fill" style="color:orange; font-size: 18px"></i>
}
<br />
A review by @Model.UserFullName on @Model.Review.Created
<br />
<br />
<div style="">
	@Model.Review.Text
</div>




