@page
@model AddAuthorModel




<h4>Add new author</h4>
<br>
<form method="post">
    <div class="w-25">
        <label asp-for="Author.Lastname"></label>
        <input asp-for="Author.Lastname" class="form-control" required />
        <label asp-for="Author.Firstname"></label>
        <input asp-for="Author.Firstname" class="form-control" required />
        <input asp-for="Author.Created" type="hidden" value="@DateTime.Now" />


    </div>
    <br />
    <button type="submit" class="btn btn-primary">Add author</button>
</form>

@*Current list of authors*@
<table width="100%" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Author</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model.Authors)
        {
            <tr>
                <td>@author.Firstname @author.Lastname</td>
                <td>@String.Format($"{author.Created:yy-MM-dd}") <a class="btn btn-primary float-lg-end" asp-route-id="@author.AuthorId" asp-page="UpdateAuthor">Edit</a></td>
            </tr>
        }
    </tbody>
</table>