@page
@model AddBookModel

<br />
<br />
<h4>Add new book</h4>
<form method="post" enctype="multipart/form-data">
    <div class="w-25">
        <label asp-for="Book.Title"></label>
        <input asp-for="Book.Title" class="form-control" required />

        <label asp-for="Book.Author"></label>
        <select asp-for="@Model.Book.AuthorId" class="form-control multiple size="5">
            <option value="" disabled selected>Choose Author</option>
            @foreach (var auth in Model.Authors)
            {<option value="@auth.AuthorId">@auth.Lastname, @auth.Firstname</option> }
        </select>

        <label asp-for="Book.Genre"></label>
        <select asp-for="@Model.Book.GenreId" class="form-control multiple size="5">
            <option value="" disabled selected>Choose Genre</option>
            @foreach (var gen in Model.Genres)
            {
                <option value="@gen.GenreId">@gen.Name</option>
            }
        </select>
        @*Add file to directory and add filepath as string to db*@
        <input type="file" name="postedFile" />

        <br/>
        <label asp-for="Book.Isbn"></label>
        <textarea asp-for="Book.Isbn" class="form-control" required></textarea>
        <label asp-for="Book.Description"></label>
        <textarea asp-for="Book.Description" class="form-control" rows="5" required></textarea>

        <input asp-for="Book.Created" type="hidden" value="@DateTime.Now" />
        @*<input asp-for="Book.Imagepath" type="hidden" value="minmapp/bild.jpg" />*@
        <input asp-for="Book.IsDeleted" type="hidden" value="false"/>
        <input asp-for="Book.UserId" type="hidden" value=1/> @*AFTER LOGIN, THIS HAS TO BE MODIFIED*@
        
    </div>
    <br />
    @*<button type="submit" class="btn btn-primary" asp-page-handler="Add" asp-page="AddBook">Add book</button>*@
    <input type="submit" value="Add book" class="btn btn-primary" asp-page-handler="Update" asp-page="AddBook" />
</form>
<br />
<br />


@*Books already in the system*@

<table width="100%" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Genre</th>
            <th>Created</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Description</td>
                <td>@book.Genre.Name</td>
                <td>@String.Format($"{book.Created:yy-MM-dd}")</td>
                <td>@book.Author.Firstname @book.Author.Lastname <a class="btn btn-primary float-lg-end" asp-route-id="@book.BookId" asp-page="UpdateBook">Edit</a></td>
            </tr>
        }

    </tbody>
</table>