@page
@model AddBookModel



<br />
<br />
<h4>Add new book</h4>
<form method="post">
    <div class="w-25">
        <label asp-for="Book.Title"></label>
        <input asp-for="Book.Title" class="form-control" required />


            <label asp-for="Book.Author"></label>
        <select id="currentAuthors" name="currentAuthors" class="form-control multiple size="5">
            <option value="" disabled selected>Choose Author</option>
            @{
                //var sort = Model.Books.OrderBy(b => b.Author.Lastname);
            }
            @foreach (var auth in Model.Books)
            {
                <option value="@auth.Author.Lastname, @auth.Author.Firstname">@auth.Author.Lastname, @auth.Author.Firstname</option>
            }
        </select>

        
        <label asp-for="Book.Isbn"></label>
        <textarea asp-for="Book.Isbn" class="form-control" required></textarea>
        <label asp-for="Book.Description"></label>
        <textarea asp-for="Book.Description" class="form-control" rows="5" required></textarea>

        <input asp-for="Book.Created" type="hidden" value="@DateTime.Now" />
        <input asp-for="Book.Imagepath" type="hidden" value="minmapp/bild.jpg" />
        <input asp-for="Book.IsDeleted" type="hidden" value="false" />
        @*<input asp-for="Book.IsDeleted" type="hidden" value="@deletedNot" />*@


    </div>
    <br />
    <button type="submit" class="btn btn-primary">Add author</button>
</form>

<table width="100%" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Genre</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Description</td>
                <td>@book.Genre.Name</td>
                <td>@book.Author.Firstname @book.Author.Lastname <a class="btn btn-primary float-lg-end" asp-route-id="@book.BookId" asp-page="UpdateBook">Edit</a></td>
            </tr>
        }

    </tbody>
</table>