@page
@model Coolbooks.Pages.Admin.UpdateBookModel
@{
}




<h2 style="margin-bottom: 2em">Update @Model.Book.Title</h2>
<div class="col-md-4 flex-wrap align-content-center">
    			<a asp-page="/Books/BookPage" asp-route-id="@Model.Book.BookId">
    <img src="@Model.Book.Imagepath" class="img-fluid" />
    </a>
</div>
<div class="form-group row">
    <form method="post" enctype="multipart/form-data">
        <p style="font-weight:bold">Title</p>
        <input class="form-control" asp-for="@Model.Book.Title" type="text" placeholder="@Model.Book.Title" style="margin-top:10px"/>
        <br />
        <p style="font-weight:bold">Author</p>
        <select asp-for="@Model.Book.AuthorId" class="form-select" aria-label="Default select example" style="margin-top:10px">
           @*Foreach here*@
           @foreach (var author in Model.AuthorList)
            {
                <option value="@author.AuthorId">@author.Firstname @author.Lastname</option>
            }
        </select>
        <br />
        <p style="font-weight:bold">Genre</p>
        <select asp-for="@Model.Book.GenreId" class="form-select" aria-label="Default select example" style="margin-top:10px">
            @*Foreach here*@
            @foreach (var genre in Model.GenreList)
            {
                <option value="@genre.GenreId">@genre.Name</option>
            }
            <option value="2">Genre</option>
        </select>
        <br />
        <p style="font-weight:bold">Description</p>
        <textarea asp-for="@Model.Book.Description" placeholder="@Model.Book.Description"class="form-control" aria-label="With textarea"></textarea>
        <br />

        <p style="font-weight:bold">ISBN</p>
        <input class="form-control" asp-for="@Model.Book.Isbn" type="text" placeholder="@Model.Book.Isbn" style="margin-top:10px" />
        <br />

        <p style="font-weight:bold">Date</p>
        <p>Current date: @Model.Book.Created</p>
        <input class="form-control" asp-for="@Model.Book.Created" type="date" style="margin-top:10px" />
        <br />

        <input asp-for="@Model.Book.BookId" hidden />
        <input asp-for="@Model.Book.Imagepath" hidden />
        <input asp-for="@Model.Book.IsDeleted" hidden />

        <input type="file" value="null" name="postedFile"/>

        @{
            //foreach (var file in Model.FileList)
            //{
            //    <select>
            //    <option>@file</option>
            //    </select>
            //}
        }

        @*
        *
        *
        *
        CHANGE TO CURRENT ADMIN USER ID BELOW
        *
        *
        **@
        <input hidden value="1" asp-for="@Model.Book.UserId" />

        <input type="submit" value="Update" class="btn btn-primary" style="margin-top: 10px" asp-page-handler="Update" asp-page="UpdateBook"/>
    </form>
</div>
