@page
@model Coolbooks.Pages.Books.BookPageModel
@{

}


<div class="row">
    <div class="col-md-4 flex-wrap align-content-center">
        <img src="@Model.Book.Imagepath" class="img-fluid" />
        </div>
    <div class="col-md-8">
        <h3>@Model.Book.Title</h3>
        <h6>@Model.Book.Description</h6>
        <h6>@Model.Book.Genre.Name</h6>
        <h6>@Model.Book.Author.Firstname @Model.Book.Author.Lastname</h6>
        <h6>@String.Format($"{Model.Book.Created:yy-MM-dd}")</h6>


        <div class="d-flex">

            @{
                int starCounter = 5;

                for (int i = 1; i <= Math.Abs(Convert.ToDouble(Model.TotalRatingSum)); i++)
                {
                    <i class="bi bi-star-fill" style="color:orange; font-size: 18px"></i>
                    starCounter--;
                }
                for (int i = 1; i <= starCounter; i++)
                {
                    <i class="bi bi-star-fill" style="font-size: 18px"></i>
                }
            }

                <h5 style="margin-right:2em;">@Model.TotalRatingSumString</h5> <p>@Model.TotalRatings Ratings</p>

        </div>
        <br />
        <br />
        <br />
        <br />
        <h3>Reviews</h3>
        <a style="margin-bottom:3em;" class="btn btn-primary" asp-route-id="@Model.Book.BookId" asp-page="/Reviews/Write">Write a Review</a>



        @foreach (var review in Model.Reviews)
        {
            <div class="col-md-4 d-flex" style=" margin-top:3em; width:30em;">
                <h5 style="margin-right:10px;">@review.User.Userinfo.Firstname @review.User.Userinfo.Lastname</h5>
            @{
            int starCounterR = 5;

            for (int i = 1; i <= Convert.ToInt32(review.Rating); i++)
            {
                <i class="bi bi-star-fill" style="color:orange; font-size: 18px"></i>
                starCounterR--;
            }
            for (int i = 1; i <= starCounterR; i++)
            {
                <i class="bi bi-star-fill" style="font-size: 18px"></i>
            }
            <p style="font-style:italic; color:gray; margin-left:1em;">@review.Created</p>
            }

            <div>
                
            </div>
            </div>
            <h6 style="font-weight:bold;">@review.Title</h6>
            <p>@review.Text</p>

            <a asp-for class="btn btn-outline-primary"><i class="bi bi-hand-thumbs-up"></i></a>
            <a class="btn btn-outline-danger"><i class="bi bi-hand-thumbs-down"></i></a>
            <form>
                <label>Olle Persson</label>
                <br>
                <input type="text" style="margin-top:5px" placeholder="Comment...">
                <input type="submit" value="Comment">
            </form>
            //Sample data
            string[] Comments = { "What an amazing review Marilyn, described so perfectly", 
            "Great review Marilyn. I loved this book and enjoyed the movie :)", 
            "AND the movie version is now on Netflix! " };
            <br />

            //Foreach through sample data
            foreach (var comment in Comments)
            {
                <p>Maja Hansson: <br>@comment</p>
                <hr />

                @*ADD COMMENTS DOWN BELOW*@
                <div id="comments-section" style="display: none;">
                    Comments are here
                </div>
            }
        }


        

    </div>
</div>


