@page
@model Coolbooks.Pages.Books.BookPageModel
@{
}


<div class="row">
    <div class="col-md-4"><img src="@Model.Book.Imagepath" class="img-fluid" /></div>
    <div class="col-md-8">
        <h3>@Model.Book.Title</h3>
        <h6>@Model.Book.Description</h6>
        <h6>@Model.Book.Genre</h6>
        <h6>@Model.Book.Description</h6>
        <h6>@Model.Book.Description</h6>
    </div>
</div>



