@page
@model Coolbooks.Pages.Books.IndexModel

<h1>Book list</h1>

<table width="100%" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Genre</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Description</td>
                <td>@book.Genre.Name</td>
                <td>@book.Author.Firstname @book.Author.Lastname <a class="btn btn-primary float-lg-end" asp-page="BookPage">View</a></td>
            </tr>
        }

    </tbody>
</table>